.newOrderBtn {
  width: 100%;
  background: 0;
  border: 2px solid #6fdec4;
  color: #fff;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
}
.newOrderBtn:hover {
  background-color: #6fdec4;
}
