.contactsContainer {
  .contactsHeading {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 5px;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    .nextForm,
    .prevForm {
      width: 40%;
      background: 0;
      border: 2px solid #6fdec4;
      color: #fff;
      cursor: pointer;
      padding: 10px 0px;
      text-align: center;
    }
    .nextForm:hover,
    .prevForm:hover {
      background-color: #6fdec4;
    }
  }
}
